*Arquivos
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.log
*.csv
*.xlsx
*.xls
*.json
*.xml
*venv/
*.egg
*__pycache__/
*.DS_Store
*.spec
*build/
*dist
*build_app.bat
*build_app_spec.bat
*copy_files.bat
*CapaDoc.exe